* {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
nav {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: rgb(90, 150, 240);
    z-index: 1;
}
#logOut{
    margin-top: 8px;
    position: absolute;
    right: 5%;
    border-radius: .5rem;
    border: none;
    padding: 5px;
    font-family: 'Great Vibes', cursive;
    font-size: large;
}
#logOut:hover{
    background-color: rgba(212, 209, 209, 0.897);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
#formEntryContainer{
    background-image: url("https://images.unsplash.com/photo-1526554850534-7c78330d5f90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 10px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    text-align: center;
    min-height: 800px;
    font-family: 'Great Vibes', cursive;
}
#formEntryField {
    padding: 50px;
    width: 400px;
    height: 400px;
    background-image: rgba(255, 255, 255, 0.753);
    border-radius: .25rem;
}
#postTitle{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgb(168, 167, 167);
    width: 350px;
    text-align: center;
    border-radius: .5rem;
    padding: 20px;
    border: none;
    margin-top: 50px;
    overflow: auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.555);
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/14/11/note-147951_1280.png");
    background-position: center;
    opacity: 95%;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    font-size: 30px;
}
#postBody{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px  rgb(168, 167, 167);
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/14/11/note-147951_1280.png");
    background-position: center;
    opacity: 95%;
    border-radius: .25rem;
    width: 350px;
    text-align: center;
    height: 300px;
    padding: 20px;
    margin-top: 30px;
    border: none;
    word-wrap: break-word;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.555);
    resize: none;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    font-size: 30px;
}
#postBody::placeholder {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px  rgb(168, 167, 167);
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    font-size: 30px;
}
#postTitle::placeholder {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px  rgb(168, 167, 167);
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    font-size: 30px;
}
#submitPostBtn {
    margin-top: 10px;
    width: 200px;
    padding: 5px;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: 2px 2px black;
    font-family: 'Great Vibes', cursive;
    font-size: large;
    text-shadow: 1px 1px  rgb(168, 167, 167);
}
#submitPostBtn:hover{
    background-color: rgba(194, 194, 194, 0.753);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
#submitPostBtn:active{
    cursor: pointer;
    transform: scale(.75);
    transition: all 0.3s ease-in-out;
}
#forum {
    border-top: 50px solid;
    border-bottom: 50px solid;
    border-image: url("https://cdn.pixabay.com/photo/2015/01/07/16/37/wood-591631_1280.jpg") 50 round;
    background-image: url("https://images.unsplash.com/photo-1513617855986-6ad7b0dfb9f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    background-attachment: fixed;
    color: rgb(0, 0, 0);
    background-position: center;
    min-height: 800px;
}
#cardContainer {
    text-align: center;
}
.postInfoContainer {
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/14/11/note-147951_1280.png");
    width: 400px;
    height: 200px;
    background-position: center;
    background-size: stretch;
    background-repeat: no-repeat;
    margin: 10px;
    padding: 20px 50px 250px 50px;
    text-align: center;
    display: inline-flex;
    opacity: 95%;
    overflow-wrap: break-word;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    font-size: 25px;
    overflow-y: auto;
    text-shadow: 1px 1px  rgb(168, 167, 167);
}
.postInfoContainerInner{
    width: 400px;
    height: 200px;
}
.postedPost {
    text-align: justify;
}
#submitDiv {
    width: 300px;
    height: 300px;
    background-color: white;
    display: none;
}
#editPostBtn {
    padding: 5px;
    background: none;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    border-radius: 0.25rem;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    font-size: 20px;
    margin: 5px;
    text-shadow: 1px 1px  rgb(168, 167, 167);

}
#editPostBtn:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}
#deletePostBtn {
    padding: 5px;
    background: none;
    border: 1px solid black;
    box-shadow: 2px 2px black;
    border-radius: 0.25rem;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    font-size: 20px;
    margin: 5px;
    text-shadow: 1px 1px  rgb(168, 167, 167);
    
}
#deletePostBtn:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: all 0.3s ease-in-out;
}
#fatherdiv {
    background-image: url("https://images.unsplash.com/photo-1526554850534-7c78330d5f90?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 10px;
    min-height: 800px;
    background-attachment: fixed;
    justify-content: center;
    text-align: center;
}
#newPostArea{
    color: rgb(0, 0, 0);
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/14/11/note-147951_1280.png");
    background-position: center;
    opacity: 95%;
    border-radius: .25rem;
    width: 350px;
    text-align: center;
    height: 300px;
    padding: 20px;
    margin-top: 100px;
    border: none;
    word-wrap: break-word;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.555);
    resize: none;
    font-family: 'Great Vibes', cursive;
    font-weight: 900;
    font-size: 30px;
}
#editBtn {
    margin-top: 10px;
    width: 200px;
    padding: 5px;
    border-radius: 1rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: 2px 2px black;
    font-family: 'Great Vibes', cursive;
    font-size: large;
}
#editBtn:hover {
    background-color: rgba(194, 194, 194, 0.753);
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}