#container{
    display: flex; justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
#fieldset{
    border: 10px solid;
    border-image:url("https://images.unsplash.com/photo-1573195470692-0b89ffb47361?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1916&q=80") 10%;
    padding: 10px;
    border-image-repeat: round;
    border-image-width: 10px;
}